---
title: Gallery
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - gallery


js:
  - config
  - dojo-config
  - libs/jquery-1.9.1.min
  - libs/jquery.cookie
  - gallery/gallerycfg
  - gallery/gallery-init
  - gallery/jxon
  - gallery/galleryshell-default
  - gallery/gallerydisplay-default


metatags:
  - <META name="robot" content="NOINDEX,NOFOLLOW">

mobile: true

---

<% require 'xmlsimple' %>
<%
   contents = File.read('//blaster/N/DesktopHelp/rc/3d-gis-agol=en.xml')
   ref =  XmlSimple.xml_in(contents, { 'ForceArray' => true })
%>


<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/collector/gallery/">Collector Gallery</a></h1>
    </header>
	<nav>
     &nbsp;
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

	<div class="column-4 tablet-column-8 blocks">
		   <div class="block">
			  <h2 id="appTitle"></h2>
			  <div id="reference-index">
						<div><a href="#" id="gl-filter-clear">Clear All</a></div>
						<nav>
							<div id="filters">
                     <%
                        mfl = "["
                        kv = "["
                        ref['filters'][0]['filter'].each { |k|
                     %>
                           <span class="filter-label"><%= k['label'] %></span>
                           <%
                           i = 0

                           k["value"].each { |sk| %>
                              <span class="ctrlbox"><input type="checkbox" value="<%= sk['metacontent'] %>" name="<%= k['metaname'] %>-<%= sk['id'] %>"><%= sk['label'] %></span>
                           <%
                              kv += "'" + sk['metacontent'] + ":#{sk['label']}',"
                              i = i+1
                           }

                           mfl += "'" + k['metaname'] + ":#{i}',"
                           %>
                     <% }
                        mfl += "]"
                        kv += "]"
                     %>
                   </div> <!-- End of Filters -->
						</nav>
					</div>
			</div>
	 </div>


	<div class="column-16 tablet-column-24">
		<div id="reference-content">

                  <div id="gl-s-ctrl">
                      <input type="text" size="80" value="<%=ref['view'][0]['searchmsg']%>" autocomplete="off" name="query" id="query">
                      <input type="submit" value="" id="search">
                  </div>
                  <div id="rss">
                     <a target="_self" href="http://www.arcgis.com/sharing/search?q=(group:(57623e30541c4dd68c4f590828329b0a))&amp;f=rss" rel="nofollow">
                        <img src="/img/gallery/rss-icon.png" alt="RSS">
                     </a>
                  </div>

			  <div id="gl-display">
				 <div id="spinner" style="display: none;">
					<img alt="loading" src="/img/gallery/ajax-loader.gif">
				 </div>

            <div id="gl-display-type">Display: <a id="display2" href="#">List</a> | <a id="display1" class="displaytype_selected" href="#">Thumbnail</a> | <a id="display3" href="#">Detail</a></div>

				 <div id="gl-display-shown"><span>Show: </span><a href="#" id="numn1">15</a> | <a href="#" class="displayn_selected" id="numn2">30</a> | <a href="#" id="numn3">45</a> items</div>
				 <div class="clear"></div>
				 <div class="gl-pnavinfo-s"></div>
				 <div class="clear"></div>

				 <!-- Result area -->
				 <div id="gl-content" class="display1">
					<div class="clear"></div>
				 </div>
				 <!-- End of Result -->

   				 <div id="gl-pagenav">
                  <a id="gl-prev" class="btn disabled" href="#">Previous</a>
                  <span class="gl-pnavinfo">Page <input type="text" value="1" size="2" name="pageX" id="pageX"> of 1 (1 - 9 of 9 items)</span>
                  <a id="gl-next" class="btn disabled" href="#">Next</a>
               </div>
			  </div>





		<div class="clear"></div><div class="clear"></div>
	  </div>

	</div>  <!-- End of div column-16 tablet-column-24 -->

 <script type="text/javascript">
    $(window).load(function() {
      gcfg.mdfL = <%=mfl%>;
      gcfg.kv = <%=kv%>;
      gcfg.collection = "<%=ref['search-collection']%>";
      gcfg.category = "<%=ref['search-category']%>";
      gcfg.errormsg = "<%=ref['view'][0]['errormsg']%>";
      gcfg.searchmsg = "<%=ref['view'][0]['searchmsg']%>";
      gcfg.emptymsg = "<%=ref['view'][0]['emptymsg']%>";
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>