<!doctype html>
<%
readDirection="ltr" 
if current_language == "ar" or current_language == "he"
	readDirection="rtl"
end
 
%>
<!--[if lt IE 7]>      <html class="ie lt-ie9 lt-ie8 lt-ie7 ie6" dir="<%=readDirection%>"> <![endif]-->
<!--[if IE 7]>         <html class="ie lt-ie9 lt-ie8 ie7" dir="<%=readDirection%>"> <![endif]-->
<!--[if IE 8]>         <html class="ie lt-ie9 ie8" dir="<%=readDirection%>"> <![endif]-->
<!--[if IE 9]>         <html class="ie ie9" dir="<%=readDirection%>"> <![endif]-->
<!--[if gt IE 8]><!--> <html dir="<%=readDirection%>"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	 <meta name="viewport" content="width=device-width">

    <title><%= data.page.title ? data.page.title + " | ArcGIS" : "ArcGIS" %></title>
	 
	 <!--[if lt IE 9]>
      <script src="/assets/js/libs/html5shiv.js"></script>
		<script src="/assets/js/libs/json2.js"></script>
    <script src="/assets/js/libs/selectivizr-min.js"></script>
     
    <![endif]-->

    <%= javascript_include_tag "sitecfg" %>

	<script>
	  <% if current_page.data.require_login %>
        (function(){
          var cookieRegex = /esri_auth=/;
          if(!cookieRegex.test(document.cookie)){
            window.location = sitecfg["agolSignin"] + "?returnUrl=" + window.location.href;
          }
        })();
      <% end %>

    </script>
   
    <link rel="pingback" href="//pingback.me/esri/xmlrpc" />
	 <link rel="shortcut icon" href="/assets/img/favicon.ico">

    <%= stylesheet_link_tag "screen" %>
    <%= stylesheet_link_tag "documentation/base" %>

    <% if current_page.data.css %>
      <% current_page.data.css.each do |stylesheet| %>
        <%= stylesheet_link_tag stylesheet, { :media=> "all" } %>
      <% end %>
    <% end %>

	<%= javascript_include_tag "locale/l10NStrings" %>

    <script src="/cdn/js/libs/jquery.1.9.1.min.js" type="text/javascript"></script>
    <script src="/cdn/js/libs/jquery.cookie.js" type="text/javascript"></script>

  <%= javascript_include_tag "signIn" %>

   <!--- beg agol search -->
  <!-- <link rel="stylesheet" type="text/css" href="/css/agolsearch.css" />
  <%= javascript_include_tag "agolsearch" %>-->
   <!--- end agol search -->

    <% if current_page.data.js %>
      <% current_page.data.js.each do |javascript| %>
        <%= javascript_include_tag javascript %>
      <% end %>
    <% end %>
    <% if current_page.data.mobile %>
      <meta name="viewport" content="width=device-width,initial-scale=1">
    <% end %>

	<!--- search MD -->
	<% if current_page.data.metatags %>
      <% current_page.data.metatags.each do |v| %>
        <%= v %>
      <% end %>
    <% end %>

	<!-- Handle Marketplace 404 issue -->
	<% if current_page.data.pageName and current_page.data.pageName == "404" %> 
		<script>
			if(window.location.href.indexOf("/marketplace/") >= 0){
				window.location = "/en/marketplace/404/";
			}
		</script>
	<% end %>

  	
  <!--[if lt IE 9]><script type="text/javascript" src="/js/libs/html5shiv-printshiv.js"></script><![endif]-->
      
   <% if !current_page.data.languageSelector or current_page.data.languageSelector != "No"%>
	<% if current_language != "en" %> 
		<link type="text/css" rel="stylesheet" href="/assets/css/screen_l10n.css"/>
		<link type="text/css" rel="stylesheet" href="/assets/css/documentation_l10n.css"/>
		<link type="text/css" rel="stylesheet" href="/assets/css/print_l10n.css"/>
	<% end %>
	<%= javascript_include_tag "locale/langSelector" %>
   <% end %>
   
	<%= javascript_include_tag "calcite-web" %>
  
	
	<!--[if lt IE 11]>
	<script>
		$(document).ready(function(){
			$(".hideOnIE").hide();
		});
	</script>
	<![endif]-->

  <!--Dynamic common meta tags -->
  <META name="last-modified" content="<%= Time.now.year %>-<%= Time.now.month %>-<%= Time.now.day %>">
  <META name="content-language" content="<%= current_language %>">

   <!-- set dropdown/show home in footer -->
  <script>
    $(document).ready(function(){
      //$($("#dropDown a").get (0)).addClass ("current selected");
      $(".footer .home").toggleClass("hide");
    });
  </script>

	<%= partial "_partial/galleryLayout" %>
  </head>

  <body class="claro <%= current_language %>" >
  <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WVT7QT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WVT7QT');</script>
<!-- End Google Tag Manager -->

     <!-- top navigation collapses to drawer on mobile -->
    <div class="drawer drawer-left js-drawer" data-skin="app" data-drawer="top-nav">
        <nav class="drawer-nav">
          <aside class="side-nav">
            <h2 class="side-nav-title">Arc<span class="avenir-demi">GIS</span></h2>
            
            <form class="gutter-left-half gutter-right-half leader-half trailer-half" method="GET" action="/search">
              <input type="search" name="q" value="" placeholder="<%= current_page.data.searchDfltStr %> Search" class="trailer-0">
              <input type="hidden" name="collection" value="help" />
              <input type="hidden" name="product" value="<%= current_page.data.productMeta %>" />
            </form>
    
            <%= partial "_partial/site_header_nav", :locals => { :navLinkClass => "side-nav-link" } %>
          </aside>
        </nav>
    </div>

    <!-- marketplace drawer -->
    <div class="drawer drawer-left js-drawer" data-skin="marketplace" data-drawer="top-nav">
        <nav class="drawer-nav">
          <aside class="side-nav">
            <h2 class="side-nav-title">Arc<span class="avenir-demi">GIS</span> Marketplace</h2>
            
            <form class="mkpSearchForm gutter-left-half gutter-right-half leader-half trailer-half" action="#">
              <input type="search" class="leader" name="mkpSearch"  placeholder="<%= t("site.nav.mpSearch") %>">
            </form>
            <a data-langlabel="home" href="//marketplace.arcgis.com" class="home side-nav-link %>"><%= t("site.nav.home") %></a>
            <a data-langlabel="help" href="<%= t("paths.mphelp") %>" class="side-nav-link"><%= t("site.nav.help") %></a>
          </aside>
        </nav>
    </div>

    <!-- user navigation collapses to drawer on mobile -->
    <div class="drawer drawer-right js-drawer logged-in-navigation" data-drawer="user-nav">
      <nav class="drawer-nav">
        <aside class="side-nav">
          <h4 class="side-nav-title padding-leader-half padding-trailer-half" data-full-name></h4>
          <h6 class="side-nav-title font-size--2" data-username></h6>
          <a class="side-nav-link icon-ui-sign-out js-log-out" id="agolLogout" href="#"><%= t("site.nav.sign_in_logout") %></a>
        </aside>
      </nav>
    </div>
<!-- End of drawer -->


    <div class="wrapper">
      <!--googleoff: all-->

      <%= partial "_partial/site_app_header" %>
      <%= partial "_partial/site_marketplace_header" %>

       <section class="expand js-expand  panel panel-no-padding" data-expand="search" data-skin="app">
              <div class="grid-container padding-trailer-half padding-leader-1 padding-trailer-1">
                
          <form method="GET" action="//www.arcgis.com/home/search.html" class="column-24">
            <label>Search ArcGIS
              <a href="#" class="icon-ui-close js-expand-toggle right" data-expand="search"></a>
              <div class="search-bar">
                <input type="search" name="q" placeholder="Search">
                <button type="submit" class="search-submit icon-ui-search"></button>
              </div>
            </label>
          </form>

    
        </div>
      </section>
      <!--googleon: all-->

      <div id="skip-to-content">
        <header class="sub-nav">
          <div class="grid-container">
            <div class="column-24">
              <div style="display:table;" class="sdk-home-banner">
                <div class="sdk-home-banner-content">
                  <h1 class="sub-nav-title leader-1 text-white">Search</h1>
                </div>
                
              </div>
            </div>
          </div>
        </header>

        <%= yield %>
      </div>

  </div>
    
  

    <footer class="footer leader-0 link-dark-gray" role="contentinfo">
      <div class="grid-container">
          <nav class="column-6" data-skin="app">
            <h6>ArcGIS</h6>
            <ul class="list-plain">
              <%= partial "_partial/site_footer_nav" %>
            </ul>
          </nav>

          <nav class="column-6" data-skin="marketplace">
            <h6>ArcGIS Marketplace</h6>
            <ul class="list-plain">
              <li><a data-langlabel="home" href="http://marketplace.arcgis.com"><%= t("site.nav.home") %></a></li>
              <li class="myconsole"><a data-langlabel="my-console" href="http://marketplace.arcgis.com/console.html"><%= t("site.nav.sign_in_myconsole") %></a></li>
              <li><a data-langlabel="help" href="<%= t("paths.mphelp") %>"><%= t("site.nav.help") %></a></li>
            </ul>
          </nav>

          <%= partial "_partial/site_footer_common" %>
      </div>
    </footer>

    <%= javascript_include_tag "/cdn/js/sitewide.js" %>
    <%= javascript_include_tag "/cdn/js/link-modifier.js" %>

    <script type="text/javascript"> 
   piAId = '83202'; piCId = '4008';
  (function() { function async_load(){
  var s = document.createElement('script'); s.type = 'text/javascript'; s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') +
  '.pardot.com/pd.js';
  var c = document.getElementsByTagName('script')[0];
  c.parentNode.insertBefore(s, c);
  } if(window.attachEvent) { window.attachEvent('onload', async_load); } else { window.addEventListener('load', async_load, false); }
  })();
  </script>

  </body>

   <!-- set dropdown/show home in footer -->
  <script>
$(document).ready(function(){
  var winloc = window.location,
      query = winloc.search,
      mkpFlg = query && query.indexOf ("product=marketplace") >=0;

  if (mkpFlg) {
    $("*[data-skin='app']").remove();
    $("body").addClass ("marketplace");
    $(".sub-nav").addClass ("sub-nav-marketplace");

    $($("#dropDown a").get (5)).addClass ("current selected");

  } else {
    $("*[data-skin='marketplace']").remove();
    $(".sub-nav").addClass ("sub-nav-blue");

    $($("#dropDown a").get (0)).addClass ("current selected");
    $("#footer .home").toggleClass("hide");
  }

  /* copy from drop-down.js */
  /* cann't include drop-down.js because duplicate ID/execution order problem */
  function dropDownHandler() {

    function addEvent(element, event, funct){
      if (element.addEventListener){
       return element.addEventListener(event, funct, false);
      } else {
       return element.attachEvent('on'+event, funct);
      }
    }

    var downArrow = document.getElementById('down-arrow');
    var body      = document.getElementsByTagName("body")[0];
    var dropDown  = document.getElementById('dropDown');

    addEvent(body, 'click', function(e){
      if (e.target == downArrow && dropDown.className !== 'visible') {
        dropDown.className = 'visible';
      } else {
        dropDown.className = '';
      }
    });
  }

  dropDownHandler();

});


$(document).ready(function() {
  
  dbg ("doc.ready");

  app.util.changeL10NLabel ();

  app.router = new app.SearchRouter();
  
  app.qStmt = new app.QueryStatement;
  app.qResult = new app.QueryResult;
  
  app.searchBox = new app.SearchBoxView ({model:app.qStmt, el: $("#searchBox")});
  app.searchFilter = new app.SearchFilterView ({model:app.qStmt, el: $("#searchFilter")});
  app.searchLang = new app.SearchLangView ({model:app.qStmt, el: $("#searchLang")});

  app.srPager = new app.SRPagerView ({model: app.qResult, el: $("#searchPager")});
  app.srStat = new app.SRStatView ({model: app.qResult, el: $("#searchStat")});
  app.srList = new app.SRListView ({model: app.qResult, el: $("#searchResult")});

  Backbone.history.start({pushState: true, root: "/search/"});

});


  </script>
</html>