---
title: AppStudio for ArcGIS 
css:
  - homepage
  - downloads

js:
  - download

metatags:
  - <META name="description" content="AppStudio for ArcGIS"><META name="last-modified" content="2015-3-3"><META name="product" content="appstudio,appstudio-browser"><META name="sub_category" content="AppStudio"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="AppStudio"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="it">

mobile: true

---


<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">AppStudio for ArcGIS</h1>
        </div>
        <!-- INSTRUCTIONS: Remove this div tag if the a and p tags within are not needed -->
        <div class="search-bar">
      	  <form id="helpSearchForm" target="_top">
      		  <input type="search" name="q" placeholder="Cercare AppStudio for ArcGIS" class="leader">
	          <input type="hidden" name="collection" value="help">
	          <input type="hidden" name="product" value="appstudio">
	          <input type="hidden" name="version" value="">
	          <input type="hidden" name="language" value="it">
	          <button class="search-submit icon-ui-search" type="submit"></button>
      		</form>
      	</div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/appstudio/">Home</option>
        <option value="/en/appstudio/create-apps/">Creare app</option>
        <option value="/en/appstudio/extend-apps/">Estendere le app</option>
        <option value="/en/appstudio/api-guide/">Guida API</option>
        <option value="http://links.esri.com/appstudio/apireference">Riferimento API</option>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link" href="/it/appstudio/">Home</a> 
	<a class="sub-nav-link" href="/it/appstudio/create-apps/">Creare app</a> 
	<a class="sub-nav-link" href="/it/appstudio/extend-apps/">Estendere le app</a> 
	<a class="sub-nav-link" href="/it/appstudio/api-guide/">Guida API</a> 
	<a class="sub-nav-link" href="http://links.esri.com/appstudio/apireference">Riferimento API</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container">
  <div class="column-12 post-1 trailer-2 secured-org downloads">
    <header class="clearfix leader-1">
      <h2 class="left trailer-half font-size-3" id="AppStudio">AppStudio</h2>
      <div class="dropdown js-dropdown right">
        <%= generateDevVersionDropDown("appstudio~secured~windows64") %>
      </div>
    </header>
    <hr class="leader-0 trailer-half">
    <p class="trailer-half">Scaricare AppStudio for ArcGIS (Desktop Edition) per eseguire attività avanzate di personalizzazione o di sviluppo sulle app.</p>
    <div class="clearfix">
      <%= generateVersionButtons("appstudio~secured~windows64") %>
      <%= generateVersionButtons("appstudio~secured~windows86") %>
      <%= generateVersionButtons("appstudio~secured~mac") %>
      <%= generateVersionButtons("appstudio~secured~linux") %>
    </div>
  </div>
  <div class="column-11 trailer-2">
    <header class="clearfix leader-1">
      <h2 class="left trailer-half font-size-3" id="AppStudioPlayer">AppStudio Player</h2>
      <!--div class="dropdown js-dropdown right">
        <a href="#AppStudioPlayer" class="btn btn-clear btn-small" aria-expanded="false">Version 1.3</a>
      </div-->
    </header>
    <hr class="leader-0 trailer-half">
    <p class="trailer-half">Scaricare AppStudio Player per visualizzare l'anteprima delle app sui dispositivi prima di crearle.</p>
    <div class="clearfix">
      <%= generateVersionButtons("appstudio~nonSecured~windows64") %>
      <%= generateVersionButtons("appstudio~nonSecured~windows86") %>
      <%= generateVersionButtons("appstudio~nonSecured~mac") %>
      <%= generateVersionButtons("appstudio~nonSecured~linux") %>
    </div>
    <div class="leader-half">
      <a href="<%= generateVersionButtons("appstudio~nonSecured~ios", false, true) %>" class="download-link" style="margin:.375rem 0"><img src="/assets/img/badges/app_store.svg" style="height:40px;"></a>
      <a href="<%= generateVersionButtons("appstudio~nonSecured~android", false, true) %>" class="download-link" style="margin:.375rem 0"><img src="/assets/img/badges/google_play.png" style="height:40px;"></a>
    </div>
  </div>
</div>
