<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title><%= data.page.title ? data.page.title + " | ArcGIS" : "ArcGIS" %></title>

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-215788-63']);
      _gaq.push(['_setDomainName', 'arcgis.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>



    <!--[if lt IE 9]>
      <%= javascript_include_tag "libs/html5shiv.js" %>
      <%= javascript_include_tag "libs/selectivizr-min.js" %>
      <style>
        #wrapper {
          min-width: 960px;
        }
      </style>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/4a60d16b-c9e4-404d-89d3-809adb97d65c.css"/>
    <link rel="shortcut icon" href="/img/favicon.ico">

    <%= stylesheet_link_tag "screen" %>
    <% if current_page.data.css %>
      <% current_page.data.css.each do |stylesheet| %>
        <%= stylesheet_link_tag stylesheet, { :media=> "all" } %>
      <% end %>
    <% end %>

	<link type="text/css" rel="stylesheet" href="/css/print.css" media="print" /> 
	
	<%= javascript_include_tag "locale/l10NStrings" %>

    <%= javascript_include_tag "libs/jquery-1.9.1.min" %>
    <% if current_page.data.js %>
      <% current_page.data.js.each do |javascript| %>
        <%= javascript_include_tag javascript %>
      <% end %>
    <% end %>
    <% if current_page.data.mobile %>
      <meta name="viewport" content="width=device-width,initial-scale=1">
    <% else %>
      <style>
        body {
          min-width: 768px;
        }
      </style>
    <% end%>

	<!--- search MD -->
	<% if current_page.data.metatags %>
      <% current_page.data.metatags.each do |v| %>
        <%= v %>
      <% end %>
    <% end %>

   <!-- Language Picker
   <link type="text/css" rel="stylesheet" href="/css/langSelector.css"/>
   <%= javascript_include_tag "locale/langSelector" %>-->
   <%= javascript_include_tag "locale/l10NStrings" %>

   <!-- set dropdown/show home in footer -->
  <script>
    $(document).ready(function(){
      $($("#dropDown a").get (3)).addClass ("current selected");
    });
  </script>

  </head>
  <body class="<%= current_language %> marketplace">
    <div id="wrapper">
      <div id="page">

        <header id="header" class="">
          <div class="container relative-container">
              <div class="header-inner <% if current_page.data.mobile %>responsive<% end %>">

                <div class="logo-wrap">
                  <a id="site-logo" href="http://marketplace.arcgis.com/" data-langlabel="arcgis-logo-text">Arc<span>GIS</span> Marketplace</a>
                  <span class="down-arrow" id="down-arrow"></span>
                </div>
                
                <%= partial "_partial/site_header_dropdown" %>
                <nav>
                </nav>
                
                <form id="mkpSearchForm" action="#">
                  <input type="search" name="mkpSearch"  placeholder="<%= t("site.nav.mpSearch") %>">
                </form>


                <a href="http://www.esri.com/" id="esri-logo">Esri</a>

                <!--<div id="lg-container" class="dropdown-navigation">
                  <div id="lang-block"></div>
               </div> -->

              <div id="logged-out-navigation" class="dropdown-navigation">
                <a data-langlabel="sign-in" id="login-link" class="btn small light" href="#"><%= t("site.nav.sign_in") %></a>
              </div>

              <div id="logged-in-navigation" class="dropdown-navigation dropdown-wrapper hide">
                <a id="login-link" class="dropdown btn small light" href="#"><%= t("site.nav.sign_in_user") %></a>
                <div class="dropdown-content">
                  <div class="dropdown-menu">
                    <ul class="myconsole">
                      <li><a href="#"><%= t("site.nav.sign_in_myconsole") %></a></li>
                    </ul>
                    <hr class="myconsole" />
                    <ul>
                      <li><a href="#"><%= t("site.nav.sign_in_logout") %></a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <nav class="right-nav">
                 <ul>
                    <li><%= link_to t("site.nav.help"), t("paths.mphelp") %></li>
                 </ul>
              </nav>

              </div>
          </div>
        </header>

<%= yield %>

      </div>
    </div>

    <footer id="footer" class="">
      <div class="container">
        <div class="row">
          <nav>
            <h4 data-langlabel="arcgis-marketplace">ArcGIS Marketplace</h4>
            <ul>
               <li><a data-langlabel="home" href="http://marketplace.arcgis.com"><%= t("site.nav.home") %></a></li>
               <li class="myconsole"><a data-langlabel="my-console" href="http://marketplace.arcgis.com/console.html"><%= t("site.nav.sign_in_myconsole") %></a></li>
              <li><a data-langlabel="help" href="<%= t("paths.mphelp") %>"><%= t("site.nav.help") %></a></li>

            </ul>
          </nav>

          <%= partial "_partial/site_footer_common" %>
        </div>

      </div>
    </footer>

    <%= javascript_include_tag "drop-down" %>
    <%= javascript_include_tag "search/searchform.js" %>

  </body>
</html>
