---
title: AppStudio for ArcGIS
css:
  - homepage

js:
  - download

metatags:
  - <META name="description" content="AppStudio for ArcGIS"><META name="last-modified" content="2015-3-3"><META name="product" content="appstudio,appstudio-browser"><META name="sub_category" content="AppStudio"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="AppStudio"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="pt-br">

mobile: true

---


<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">AppStudio for ArcGIS</h1>
        </div>
        <!-- INSTRUCTIONS: Remove this div tag if the a and p tags within are not needed -->
        <div class="search-bar">
      	  <form id="helpSearchForm" target="_top">
      		  <input type="search" name="q" placeholder="Pesquisa do AppStudio for ArcGIS" class="leader">
	          <input type="hidden" name="collection" value="help">
	          <input type="hidden" name="product" value="appstudio">
	          <input type="hidden" name="version" value="">
	          <input type="hidden" name="language" value="pt-br">
	          <button class="search-submit icon-ui-search" type="submit"></button>
      		</form>
      	</div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/appstudio/">Página Inicial</option>
        <option value="/en/appstudio/create-apps/">Criar Aplicativos</option>
        <option value="/en/appstudio/extend-apps/">Estender Aplicativos</option>
        <option value="/en/appstudio/api-guide/">Guia da API</option>
        <option value="http://links.esri.com/appstudio/apireference">Referência API</option>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link" href="/pt-br/appstudio/">Página Inicial</a>
        <a class="sub-nav-link" href="/pt-br/appstudio/create-apps/">Criar Aplicativos</a>
        <a class="sub-nav-link" href="/pt-br/appstudio/extend-apps/">Estender Aplicativos</a>
        <a class="sub-nav-link" href="/pt-br/appstudio/api-guide/">Guia da API</a>
        <a class="sub-nav-link" href="http://links.esri.com/appstudio/apireference">Referência API</a>
      </nav>
    </div>
  </div>
</header>
<div class="grid-container leader-2 download-section">
  <div class="column-24">
    <p>Além de criar e construir aplicativos nativos, o AppStudio for ArcGIS (Desktop Edition) permite a você realizar a personalização avançada ou trabalho de desenvolvimento em seus aplicativos.</p>
    <div class="download-section">
      <div class="block-group block-group-4-up tablet-block-group-1-up secured-org downloads">
        <div id="desktop-win64" class="card card-shaped block">
          <figure class="card-image-wrap">
            <img src="../img/icons/win64.png" alt="AppStudio-Windows-x64" class="card-image">
          </figure>
          <div class="card-content">
            <div class="text-center">
              <h4>AppStudio-Windows-x64</h4>
              <p class="text-light file-size">180 MB</p>
              <%= generateVersionDropDown("appstudio~secured~windows64") %>
            </div>
          </div>
        </div>
        <div id="desktop-win32" class="card card-shaped block">
          <figure class="card-image-wrap">
            <img src="../img/icons/win32.png" alt="AppStudio-Windows-x32" class="card-image">
          </figure>
          <div class="card-content">
            <div class="text-center">
              <h4>AppStudio-Windows-x86</h4>
              <p class="text-light file-size">171 MB</p>
              <%= generateVersionDropDown("appstudio~secured~windows86") %>
            </div>
          </div>
        </div>
        <div id="desktop-mac" class="card card-shaped block">
          <figure class="card-image-wrap">
            <img src="../img/icons/apple.png" alt="AppStudio-Mac" class="card-image">
          </figure>
          <div class="card-content">
            <div class="text-center">
              <h4>AppStudio-Mac</h4>
              <p class="text-light file-size">481 MB</p>
              <%= generateVersionDropDown("appstudio~secured~mac") %>
            </div>
          </div>
        </div>
        <div id="desktop-linux" class="card card-shaped block card-last">
          <figure class="card-image-wrap">
            <img src="../img/icons/linux.png" alt="AppStudio-Linux" class="card-image">
          </figure>
          <div class="card-content">
            <div class="text-center">
              <h4>AppStudio-Linux</h4>
              <p class="text-light file-size">229 MB</p>
              <%= generateVersionDropDown("appstudio~secured~linux") %>
            </div>
          </div>
        </div>
      </div>
      <p>&nbsp;</p>
      <p>Utilize o AppStudio Player para visualizar aplicativos em seus dispositivos antes de você construir!</p>

      <div class="block-group block-group-3-up tablet-block-group-1-up downloads">
        <div id="player-win64" class="card card-shaped block">
          <figure class="card-image-wrap">
            <img src="../img/icons/win64.png" alt="AppStudioPlayer-Windows-x64" class="card-image">
          </figure>
          <div class="card-content">
            <div class="text-center">
              <h4>AppStudioPlayer-Windows-x64</h4>
              <p class="text-light file-size"></p>
              <a class="btn download-link" data-file-size="<%= data.downloads["en"].appstudio.nonSecured.windows64.filesize %>" href="<%= data.downloads["en"].appstudio.nonSecured.windows64.url %>">Download</a>
            </div>
          </div>
        </div>
        <div id="player-win32" class="card card-shaped block">
          <figure class="card-image-wrap">
            <img src="../img/icons/win32.png" alt="AppStudioPlayer-Windows-x32" class="card-image">
          </figure>
          <div class="card-content">
            <div class="text-center">
              <h4>AppStudioPlayer-Windows-x86</h4>
              <p class="text-light file-size"></p>
              <a class="btn download-link" data-file-size="<%= data.downloads["en"].appstudio.nonSecured.windows86.filesize %>" href="<%= data.downloads["en"].appstudio.nonSecured.windows86.url %>">Download</a>
            </div>
          </div>
        </div>
        <div id="player-mac" class="card card-shaped block">
          <figure class="card-image-wrap">
            <img src="../img/icons/apple.png" alt="AppStudioPlayer-Mac" class="card-image">
          </figure>
          <div class="card-content">
            <div class="text-center">
              <h4>AppStudioPlayer-Mac</h4>
              <p class="text-light file-size"></p>
              <a class="btn download-link" data-file-size="<%= data.downloads["en"].appstudio.nonSecured.mac.filesize %>" href="<%= data.downloads["en"].appstudio.nonSecured.mac.url %>">Download</a>
            </div>
          </div>
        </div>
      </div>
      <p>&nbsp;</p>
      <div class="block-group block-group-3-up tablet-block-group-1-up downloads">
        <div id="player-linux" class="card card-shaped block">
          <figure class="card-image-wrap">
            <img src="../img/icons/linux.png" alt="AppStudioPlayer-Linux" class="card-image">
          </figure>
          <div class="card-content">
            <div class="text-center">
              <h4>AppStudioPlayer-Linux</h4>
              <p class="text-light file-size"></p>
              <a class="btn download-link" data-file-size="<%= data.downloads["en"].appstudio.nonSecured.linux.filesize %>" href="<%= data.downloads["en"].appstudio.nonSecured.linux.url %>">Download</a>
            </div>
          </div>
        </div>
        <div id="player-android" class="card card-shaped block">
          <figure class="card-image-wrap">
            <img src="../img/icons/android.png" alt="AppStudioPlayer-Android" class="card-image">
          </figure>
          <div class="card-content">
            <div class="text-center">
              <h4>AppStudioPlayer-Android</h4>
              <p class="text-light file-size">&nbsp;</p>
              <a href="<%= data.downloads["en"].appstudio.nonSecured.android.url %>" class="btn">No Google Play</a>
            </div>
          </div>
        </div>
        <div id="player-ios" class="card card-shaped block">
          <figure class="card-image-wrap">
            <img src="../img/icons/apple.png" alt="AppStudioPlayer-iOS" class="card-image">
          </figure>
          <div class="card-content">
            <div class="text-center">
              <h4>AppStudioPlayer-iOS</h4>
              <p class="text-light file-size">&nbsp;</p>
              <a href="<%= data.downloads["en"].appstudio.nonSecured.ios.url %>" class="btn">No App Store</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p>&nbsp;</p>
