---
title: Living Atlas of the World
css:
  - home

js:
  - libs/jquery.cycle2.min
  - slideshow

---
<div id="home-banner" class="navigation-bar living-atlas">
  <div class="container">
    <header>
      <h1>Living Atlas of the World</h1>
      <a class="btn primary"href="#">Get started</a>
    </header>
    <div class="clear"></div>
    <nav>
      <ul>
        <li class="current"> <a href="../living-atlas/about/"> Home </a> </li>
        <li> <a href="../living-atlas/use/"> Use </a> </li>
        <li> <a href="../living-atlas/contribute/"> Contribute </a> </li>
      </ul>
    </nav>
  </div>
</div>
<main>
  <div class="container">
    <section id="about">
      <h2>Use the living Atlas of the World to Enhance your Valuable Work</h2>
      <p>
        <%= lorem.sentences 10 %>
      </p>
    </section>
    <section id="categories">
      <h3 class="divider">Categories</h3>
      <div class="slideshow off-white centered-text top-border">
        <div class="slide">
          <div class="item">
            <div class="item-content">
              <a href="#">
                <img src="http://placehold.it/120x120/" alt="" />
                <div class="item-desc">
                  <h3>Imagery</h3>
                  <p><%= lorem.sentences 2 %></p>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              <a href="#">
                <img src="http://placehold.it/120x120/" alt="" />
                <div class="item-desc">
                  <h3>Basemaps</h3>
                  <p><%= lorem.sentences 2 %></p>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              <a href="#">
                <img src="http://placehold.it/120x120/" alt="" />
                <div class="item-desc">
                  <h3>Demographics and Lifestyle</h3>
                  <p><%= lorem.sentences 2 %></p>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              <a href="#">
                <img src="http://placehold.it/120x120/" alt="" />
                <div class="item-desc">
                  <h3>Boundaries and Places</h3>
                  <p><%= lorem.sentences 2 %></p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="item">
            <div class="item-content">
              <a href="#">
                <img src="http://placehold.it/120x120/" alt="" />
                <div class="item-desc">
                  <h3>Missing Title</h3>
                  <p><%= lorem.sentences 2 %></p>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              <a href="#">
                <img src="http://placehold.it/120x120/" alt="" />
                <div class="item-desc">
                  <h3>Missing Title</h3>
                  <p><%= lorem.sentences 2 %></p>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              <a href="#">
                <img src="http://placehold.it/120x120/" alt="" />
                <div class="item-desc">
                  <h3>Missing Title</h3>
                  <p><%= lorem.sentences 2 %></p>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              <a href="#">
                <img src="http://placehold.it/120x120/" alt="" />
                <div class="item-desc">
                  <h3>Missing Title</h3>
                  <p><%= lorem.sentences 2 %></p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="cycle-pager"></div>
      </div>
    </section>
  </div>
  <div class="color-background off-white">
    <div class="container">
      <section id="getstarted">

      </section>
    </div>
  </div>
</main>
