---
title: Living Atlas of the World
css:
  - home

js:
  - libs/jquery.cycle2.min
  - slideshow

mobile: true
---
<div id="home-banner" class="navigation-bar living-atlas">
  <div class="container">
    <header>
      <h1>Living Atlas of the World</h1>
      <a class="btn primary"href="#">Get started</a>
    </header>
    <div class="banner-image">
      <img src="/en/living-atlas/img/banner-laptops.png" alt="" />
    </div>
    <div class="clear"></div>
    <nav>
      <ul>
        <li class="current"> <a href="../living-atlas/about/"> Home </a> </li>
        <li> <a href="../living-atlas/use/"> Use </a> </li>
        <li> <a href="../living-atlas/contribute/"> Contribute </a> </li>
      </ul>
    </nav>
  </div>
</div>
<main>
  <div class="container">
    <section id="about">
      <h2>Use the living Atlas of the World to Enhance your Valuable Work</h2>
      <p>
        <%= lorem.sentences 10 %>
      </p>
    </section>
    <section id="categories">
      <h3 class="divider">Categories</h3>
      <div class="slideshow off-white centered-text top-border">
        <a href="#" class="prev"></a>
        <a href="#" class="next"></a>
        <div class="slide">
          <div class="item">
            <div class="item-content">
              <a href="#">
                <img src="/en/living-atlas/img/categories-imagery.png" alt="" />
                <div class="item-desc">
                  <h3>Imagery</h3>
                  <p><%= lorem.sentences 2 %></p>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              <a href="#">
                <img src="/en/living-atlas/img/categories-basemaps.png" alt="" />
                <div class="item-desc">
                  <h3>Basemaps</h3>
                  <p><%= lorem.sentences 2 %></p>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              <a href="#">
                <img src="/en/living-atlas/img/categories-demographics.png" alt="" />
                <div class="item-desc">
                  <h3>Demographics and Lifestyle</h3>
                  <p><%= lorem.sentences 2 %></p>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              <a href="#">
                <img src="/en/living-atlas/img/categories-boundaries.png" alt="" />
                <div class="item-desc">
                  <h3>Boundaries and Places</h3>
                  <p><%= lorem.sentences 2 %></p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="item">
            <div class="item-content">
              <a href="#">
                <img src="/en/living-atlas/img/categories-earth.png" alt="" />
                <div class="item-desc">
                  <h3>Earth</h3>
                  <p><%= lorem.sentences 2 %></p>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              <a href="#">
                <img src="/en/living-atlas/img/categories-history.png" alt="" />
                <div class="item-desc">
                  <h3>History</h3>
                  <p><%= lorem.sentences 2 %></p>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              <a href="">
                <img src="/en/living-atlas/img/categories-landscape.png" alt="" />
                <div class="item-desc">
                  <h3>Landscape</h3>
                  <p><%= lorem.sentences 2 %></p>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              <a href="#">
                <img src="/en/living-atlas/img/categories-transportation.png" alt="" />
                <div class="item-desc">
                  <h3>Transportation</h3>
                  <p><%= lorem.sentences 2 %></p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="cycle-pager"></div>
      </div>
    </section>
  </div>
  <div class="color-background off-white">
    <div class="container">
      <section id="getstarted">
        <div class="gs-intro">
          <h2>Get Started</h2>
          <p><%= lorem.sentences 3 %></p>
        </div>
        <div class="gs-item">
          <img src="/en/living-atlas/img/get-started-use.png" alt="" />
          <div class="item-content">
            <h4>Use</h4>
            <p><%= lorem.sentences 5 %></p>
          </div>
        </div>
        <div class="gs-item">
          <img src="/en/living-atlas/img/get-started-contribute.png" alt="" />
          <div class="item-content">
            <h4>Contribute</h4>
            <p><%= lorem.sentences 5 %></p>
          </div>
        </div>
        <div class="clear"></div>
      </section>
    </div>
  </div>
  <div class="color-background black">
    <div class="container">
      <section id="appbanner">
        <div class="app">
          <h3>Nominate your maps, apps, and layers for inclusion in the Living Atlas.</h3>
          <a href="#" class="btn secondary">Living Atlas Contributor App</a>
        </div>
        <div class="app">
          <h3>Share your local authoritative data with the larger GIS community.</h3>
          <a href="#" class="btn secondary">Community Maps Contributor App</a>
        </div>
        <div class="clear"></div>
      </section>
    </div>
  </div>
  <div class="color-background">
    <div class="container">
      <section id="success-stories">
        <div class="ss-intro">
          <h2>Success Stories</h2>
          <p><%= lorem.sentences 3 %></p>
        </div>
        <div class="ss-items">
          <div class="ss-item">
            <a href="#">
              <img src="/en/living-atlas/img/success-westminster.png" alt="" />
              <p><%= lorem.sentence %></p>
            </a>
          </div>
          <div class="ss-item">
            <a href="#">
              <img src="/en/living-atlas/img/success-carson.png" alt="" />
              <p><%= lorem.sentence %></p>
            </a>
          </div>
          <div class="ss-item">
            <a href="#">
              <img src="/en/living-atlas/img/success-community.png" alt="" />
              <p><%= lorem.sentence %></p>
            </a>
          </div>
          <div class="ss-item">
            <a href="#">
              <img src="/en/living-atlas/img/success-swamp.png" alt="" />
              <p><%= lorem.sentence %></p>
            </a>
          </div>
          <div class="ss-item">
            <a href="#">
              <img src="/en/living-atlas/img/success-fairfax.png" alt="" />
              <p><%= lorem.sentence %></p>
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="color-background off-white">
    <div class="container">
      <section id="blogfeed">
        <header >
          <h2 class="divider">From our Blog</h2>

        </header>
        <div class="feeditems">
          <div class="feeditem">
            div
          </div>

        </div>
      </section>
    </div>
  </div>
  <div class="color-background">
    <div class="container">
      <section id="geonetfeed">
        <header >
          <h2 class="divider">Discussions on GeoNet</h2>

        </header>
        <div class="feeditems">
          <div class="feeditem">
            div
          </div>

        </div>
      </section>
    </div>
  </div>
  <div class="color-background dk-gray">
    <div class="container">
      <div class="thin-banner">
        <h3><a href="#">Connect with the Living Atlas <span class="icon-twitter"></span></a></h3>
      </div>
    </div>
  </div>
</main>
