<%
if current_page.data.gallery_data_path and current_page.data.expanded_gallery
   require 'xmlsimple'
   contents = File.read(current_page.data.gallery_data_path)
   ref =  XmlSimple.xml_in(contents, { 'ForceArray' => true })
%>
<div id="reference-index">
	<header>
	<h4>Themes</h4>
	<span class="down-arrow tablet-theme-dropDown"></span>
	<div class="filter-misc">
		<!--<div id="rss">
		 <a target="_self" href="http://www.arcgis.com/sharing/search?q=(group:( 8cb0765d4f394cc097407068580188ad))&amp;f=rss" rel="nofollow">
		  <img src="/img/gallery/rss-icon.png" alt="RSS">
		 </a>
		</div>-->
	</div>
	
	</header>
  <!--<div><a href="#" id="gl-filter-clear">Clear All</a></div>-->
	<nav id="navFilters">
		<div id="filters">
		<ol id="menutree">
		<li>
		<label id="allCollections" class="filter-label current All-filter" col="All">All</label>
         <%
            mfl = "["
            kv = "["
            ckv = "["
			c = 0
            ref['filters'][0]['filter'].each { |k|
			if k['filterable'] != 'N'
         %>
               <label class="filter-label <%= k['metaname'] %>-filter" for="c<%= c %>" col="<%= k['metaname']%>:<%=k["value"].length%>"><%= k['label'] %>
			   <span class="reset-filter">Reset</span>
			   </label>
			   <ol id="ol<%= c %>" >
               <%
                   i = 0
				   k["value"].each { |sk| 
				   if sk['metacontent'] != "None" 
						displaySubFilter = "showSubFilter"
						if sk['label'] == "None"
							displaySubFilter = "hideSubFilter"
						end
						
					%>
                      <li><span class="ctrlbox <%= displaySubFilter %> <%= k['metaname'] %>-sub-filter sub-cat"><input type="checkbox" value="<%= sk['metacontent'] %>" name="<%= k['metaname'] %>-<%= sk['id'] %>" id="<%= k['metaname'] %>-<%= sk['id'] %>"><label for="<%= k['metaname'] %>-<%= sk['id'] %>"><%= sk['label'] %></label></span></li>
				   <% end %>
                      <%
                          if k['metaname'] == "g-contributor"
                             ckv += "'" + sk['metacontent'] + ":#{sk['itemlabel']}',"
                          end
                          kv += "'" + sk['metacontent'] + ":#{sk['label']}',"
                          i = i+1
                   }
				   %>
				</ol>
				   <%

                   mfl += "'" + k['metaname'] + ":#{i}',"
                   %>

         <% 
		 c = c+1
		 end
		 }
            mfl += "]"
            kv += "]"
            ckv += "]"
         %>
		 </li>
		 </ol>
      </div> <!-- End of Filters -->
   </nav>
   
	<header>
		<h4>Type</h4>
		<span id="typeDropDown" class="down-arrow showme-dropDown"></span>
	</header>
	<nav id="showMe">
		<div id="showMeFilters">
		<ol id="menutreeType">
		<li><label id="allFilters" class="showme-filter-label current All-showme-filter" type="All">All</label></li>
		<li><label class="showme-filter-label maps-showme-filter" type="maps">Maps</label></li>
		<li><label class="showme-filter-label layers-showme-filter" type="layers">Layers</label></li>
		<li><label class="showme-filter-label scenes-showme-filter" type="scenes">Scenes</label></li>
		<li><label class="showme-filter-label apps-showme-filter" type="apps">Apps</label></li>
		<li><label class="showme-filter-label tool-showme-filter" type="tool">Tools</label></li>
		<li><label class="showme-filter-label document-showme-filter" type="document">Files</label></li>
		</ol>
	</nav>
	<header>
		<h4>Region</h4>
		<span id="areaDropDown" class="down-arrow showme-dropDown"></span>
	</header>
	<nav id="showMe2">
		<div id="showMeFilters"> <!--used -->
		<ol id="menutreeArea">
		<li><label id="allFilters" class="showme-filter-label current All-showme-filter" type="All">All</label></li>
		<li><label class="showme-filter-label world-showme-filter" type="world">World</label></li>
		<li><label class="showme-filter-label regional-showme-filter" id="countryName" type="regional">United States</label> 
		<span class="dropdown change-region">Change</span>
		<div id="regionList" class="dropdown-content"></div>
		</li>
		
		</ol>
	</nav>
</div>
<% end %>