<header class="top-nav" data-skin="marketplace">
        <a class="skip-to-content" href="#skip-to-content">Skip To Content</a>
        <div class="grid-container">
          <div class="column-24">

            <a href="http://marketplace.arcgis.com/" class="top-nav-title tablet-hide">Arc<span>GIS</span> Marketplace</a>
            <a href="http://marketplace.arcgis.com/" class="icon-ui-menu top-nav-title js-drawer-toggle tablet-show" data-drawer="top-nav">Arc<span>GIS</span> Marketplace</a>

            <!--<div class="logo-wrap"><a href="/" id="site-logo">Arc<span>GIS</span></a><span class="down-arrow" id="down-arrow"></span></div>-->

            <div class="search-bar margin-left-1 top-nav-list">
              <form class="mkpSearchForm " action="#">
                <input type="search" class="leader" name="mkpSearch"  placeholder="<%= t("site.nav.mpSearch") %>">
                <button class="search-submit icon-ui-search" type="submit"></button>
              </form>
            </div>
            
           <!--            
            <div id="lg-container" class="dropdown-navigation">
              <div id="lang-block"></div>
            </div>
  -->
            <div class="lang-block dropdown js-dropdown right margin-left-1 top-nav-list right"></div>

            <div class="margin-left-1 top-nav-list right hide-if-logged-in logged-out-navigation">
              <a data-langlabel="sign-in" id="login-link" class="icon-ui-user top-nav-link link-blue" href="#"><%= t("site.nav.sign_in") %></a>
            </div>


            <nav class="margin-left-1 top-nav-list right hide-if-logged-out logged-in-navigation">
             
              <div class="dropdown js-dropdown right">
                <div class="tablet-show top-nav-link">
                  <img alt="User Avatar" class="user-nav-image js-drawer-toggle" data-drawer="user-nav" data-user-avatar>
                  <a href="#" data-drawer="user-nav" class="user-nav-name js-drawer-toggle" data-first-name></a>
                </div>

                <div class="tablet-hide top-nav-link js-dropdown-toggle">
                  <img alt="User Avatar" class="user-nav-image js-drawer-toggle" data-drawer="user-nav" data-user-avatar>
                  <a class="user-nav-name top-nav-dropdown dropdown-btn" data-first-name>&nbsp;</a>
                </div>

                <nav class="dropdown-menu dropdown-right">
                      <a class="dropdown-link" href="#"><%= t("site.nav.sign_in_myconsole") %></a>
                      <a class="dropdown-link" href="#"><%= t("site.nav.sign_in_logout") %></a>
                </nav>
              </div>
            </nav>

            <div class="addl-navigation margin-left-1 top-nav-list right">
              <a class="top-nav-link link-blue" href="<%= t("paths.mphelp") %>"><span class="help-icon"></span><%= t("site.nav.help") %></a>
            </div>

            
          </div>
        </div>
      </header>