<nav id="dropDown">
  <a href="<%= t("site.drop_down.arc.link") %>">
    <h4 data-langlabel="arcgis"><%= t("site.drop_down.arc.title") %></h4>
    <p data-langlabel="arcgis-desc"><%= t("site.drop_down.arc.description") %></p>
  </a>
  <a href="<%= t("site.drop_down.dev.link") %>" >
    <h4 data-langlabel="arcgis-for-developers"><%= t("site.drop_down.dev.title") %></h4>
    <p data-langlabel="arcgis-for-developers-desc"><%= t("site.drop_down.dev.description") %></p>
  </a>
  <a href="<%= t("site.drop_down.pro.link") %>">
    <h4 data-langlabel="arcgis-for-professionals"><%= t("site.drop_down.pro.title") %></h4>
    <p data-langlabel="arcgis-for-professionals-desc"><%= t("site.drop_down.pro.description") %></p>
  </a>
  <a href="<%= t("site.drop_down.marketplace.link") %>">
    <h4 data-langlabel="arcgis-marketplace"><%= t("site.drop_down.marketplace.title") %></h4>
    <p data-langlabel="arcgis-marketplace-desc"><%= t("site.drop_down.marketplace.description") %></p>
  </a>
</nav>