<nav class="column-6">
  <h6 data-langlabel="arcgis-platform"><%= t("site.footer.platform") %></h6>
  <ul class="list-plain">
    <li><%= link_to t("site.drop_down.arc.title"), t("site.drop_down.arc.link"), "data-langlabel" => "arcgis" %></li>
    <li><%= link_to t("site.drop_down.desktop.title"), t("site.drop_down.desktop.link"), "data-langlabel" => "arcgis-for-desktop" %></li>
    <li><%= link_to t("site.drop_down.server.title"), t("site.drop_down.server.link"), "data-langlabel" => "arcgis-for-server" %></li>
	<li><%= link_to t("site.drop_down.dev.title"), t("site.drop_down.dev.link"), "data-langlabel" => "arcgis-for-developers" %></li>
	<li><%= link_to t("site.drop_down.solutions.title"), t("site.drop_down.solutions.link"), "data-langlabel" => "arcgis-solutions" %></li>
    <li><%= link_to t("site.drop_down.marketplace.title"), t("site.drop_down.marketplace.link"), "data-langlabel" => "arcgis-marketplace" %></li>
  </ul>
</nav>

<nav class="column-6">
  <h6 data-langlabel="about-esri"><%= t("site.footer.about.esri.title") %></h6>
  <ul class="list-plain">
    <li><%= link_to t("site.footer.about.us.title"), t("site.footer.about.us.link"), "data-langlabel" => "about-us" %></li>
    <li><%= link_to t("site.footer.about.careers.title"), t("site.footer.about.careers.link"), "data-langlabel" => "careers" %></li>
    <li><%= link_to t("site.footer.about.insiders.title"), t("site.footer.about.insiders.link"), "data-langlabel" => "insiders-blog" %></li>
    <li><%= link_to t("site.footer.about.user_conf.title"), t("site.footer.about.user_conf.link"), "data-langlabel" => "user-conference" %></li>
    <li><%= link_to t("site.footer.about.dev_summit.title"), t("site.footer.about.dev_summit.link"), "data-langlabel" => "developer-summit" %></li>
  </ul>
</nav>

<nav class="column-6">
  <a aria-label="Esri Home" href="<%= t('site.footer.about.esri.link') %>" class="esri-logo"></a>
  <section class="footer-social-nav leader-1">
    <%= link_to "", t("site.footer.social.twitter"), class: "icon-social-twitter" %>
    <%= link_to "", t("site.footer.social.facebook"), class: "icon-social-facebook" %>
    <%= link_to "", t("site.footer.social.github"), class: "icon-social-github" %>
    <%= link_to "", t("site.footer.social.contact"), class: "icon-social-contact" %>
  </section>
</nav>
 <div class="column-24 leader-1">
<p><small><a href="<%= t("site.legal.cr.link") %>"><%= t("site.legal.cr.title") %> &copy; <%= Time.now.year %> Esri. </a> <%= t("site.legal.reserved") %> | <%= link_to t("site.legal.privacy.title"), t("site.legal.privacy.link"), "data-langlabel" => "privacy" %> | <%= link_to t("site.legal.legal.title"), t("site.legal.legal.link"), "data-langlabel" => "legal" %></small></p>
</div>

